<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link ref="stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}">
        <title>My Portfolio</title>
    </head>
    <body>
        <section class = "header">
            <img src="{{url_for('static', filename='logoAlgo2022-2023.png')}}" />
            <!-- This is for your name and an image of you -->
        </section>

        <section class = "info">
            <!-- This is for other information about you -->
            <a  href = "{{url_for('wordle_page')}}" class = "button-link" >Next Page</a>
        
        </section>

        <footer>
            <!-- Your contact information (make it up dont use ur real one) -->
        </footer>
    </body>
</html><!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link ref="stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}">
        <title>My Portfolio</title>
    </head>
    <body>
        <section class = "header">
            <img src="{{url_for('static', filename='logoAlgo2022-2023.png')}}" />
            <!-- This is for your name and an image of you -->
        </section>

        <section class = "info">
            <!-- This is for other information about you -->
            <a  href = "{{url_for('wordle_page')}}" class = "button-link" >Next Page</a>
        
        </section>

        <footer>
            <!-- Your contact information (make it up dont use ur real one) -->
        </footer>
    </body>
</html>