<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link ref="stylesheet" href = "{{ url_for('static', filename = 'styles.css') }}">
        <title>Wordle Game</title>
    </head>
    <body class ="wordle_page">
        <h1>Wordle Game</h1>
        <form method = "POST" id = "world-form">
            <div class = "letter-boxes">
                {% for i in range(word_length) %}
                    <input type = "text" name ="letter{{ i + 1}}" value="{{guess[i]}}" maxlength = "1" required class = "letter-input">
                {% endfor %}
            </div>
            <button type = "submit">Submit</button>
        </form>
        {% if feedback %}
            <div class = "feedback">
                {% for result in feedback %}
                    <span class = "{{result}}"> {{result}}</span>
                {% endfor %}
            </div>
        {% endif %}
    
        {% if success %}
            <div class = "success-message">
                <p>You Made it</p>
            </div>
        {% elif error %}
            <div class = "error-message">
                <p>{{error}}</p>
            </div>
        {% endif %}

        
    </body>
</html>