<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link ref="stylesheet" href = "{{_url_for('static', filename = 'style.css') }}">
        <title>Wordle Game</title>
    </head>
    <body>
        <h1>Wordle Game</h1>
        <form method = "POST" id = "world-form">
        <div class = "letter-boxes">
            {% for i in range(word_lenght)%}
                <input type= "text" name = "letter{{i + 1}}" value="{{guess[i]}}" maxlenght = "1" required class = "letter-input">
                {% endfor %}
        </div>
        <button type = "submit">Submit</button>
        </form>
        {% if feedback %}
        <div class = "feedback">
            {% for result in feedback %}
                <span> class = {{"result"}}> {{result}}</span>
                {% if feedback %}
        </div>
        {% if feedback %}

        {% if success %}
            <div class = "success-message">
                <p>You make it</p>
            </div>
        {% elif error %}
            <div class = "error-message">
                <p>{{error}}</p>
            </div>
        
    </body>
</html>